<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script>
var MAPRAMBLE = {};
MAPRAMBLE.places = [];
</script>
<script src="/javascripts/map.js"></script>

<div id="map"></div>