<div data-role="panel" id="menu_panel" data-position="left" data-display="reveal">
	<ul data-role="listview">
 		<li><%= link_to "ホーム", root_path %></li>
		<li><%= link_to "コース一覧" %></li>
		<li><%= link_to "コースのスポット一覧" %></li>
		<li><%= link_to "コース周辺スポット一覧" %></li>
	</ul>
</div>
